/*Messages CSS*/
* {
  margin: 0px; padding: 0px;
  border: none;
  box-sizing: border-box;
}

.mailbox {
  margin: 0px auto -100px 30px;
  position: fixed;
  background: #009879 ; /*#009879*/
  border-radius: 0px 5px 0px 0px;
  width: 90%;
  max-width: 960px;
  min-width:  400px;


}

.navLists {
  position: absolute;
  top: 0px; bottom: 0px;
  background: #EEE;
  width: 200px;
}

.navLists a {
  display: block;
  padding: 5px 10px;
  color: #3D9FC4;
  font-weight: bold;
  text-decoration: none;
}

.navLists a.active {
  background: #CCDDED;
}

.navLists a:first-child {
  margin: 10px 0px 10px;
}

.messages {
  padding: 10px 10px 10px 210px;
  width: 100%;
  min-width:  50%;
  max-width:  100%;
  left: 100px;
}

.actions-dropdown {
  display: block;
  float: right;
  position: relative;
  margin: 5px 10px 10px 0px;
}

.actions-dropdown label {
  padding: 5px 10px;
  background: #EEE;
  color: #666;
  border-radius: 5px;
  cursor: pointer;
}

.actions-dropdown label span {
  color: #999;
  font-size: 10px;
}

.actions-dropdown:hover ul {
  display: block;
}

.actions-dropdown ul {
  display: none;
  position: absolute;
  list-style: none;
  background: #EEE;
  border-radius: 5px;
  width: 100%;
}

.actions-dropdown li {
  padding: 5px 10px;
  color: #666;
  cursor: pointer;
}

.actions-dropdown li:hover {
  color: #000;
}

.actions-dropdown li:first-child {
  margin-top: 5px;
}
.message {
  clear: both;
  margin-bottom: 5px;
  position: relative;
  padding: 5px;
  background: #bbd0e4;
  border-radius: 5px;
  width: 100%;
  min-width: 50%;
  max-width: 100%;
  max-height: 85%;
  border: 1px solid black;
}
input[type=submit]{
 
  background-color: white;
}

.message input {
  position: absolute;
  top: 8px; left: 10px;
  width: 40px;
}
.message .read {
  display: inline-block;
  float: left;
}
.message .sender {
  display: inline-block;
  position: absolute;
  left: 60px; 
  padding-left: 60px;
  color: #000;
  width: 80px;
  float: none;
}
.message .title {
  display: inline-block;
  padding-left: 210px;
  left: 50px;
  width: 35%;
  float: none;
}

.message .date {
  position: absolute;
  display: inline-block;
  right: 110px;
}

.message .btnView {
  position: absolute;
  display: inline-block;
  right: 65px;
}

.message .btnDelete {
  position: absolute;
  display: inline-block;
  right: 10px;
}

button {
  background-color: white;
  border-radius: 10px;
  color: #1DC39D;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 100px;
  margin: 4px 4px 0px 20px;
}
a{
  text-decoration:  none;
}
a:hover{
  text-decoration:  none;
}