
#e_transfer_accept_Form
{
	background-color: #77C463;
	margin: 0 auto;
	font-family: "Lucida Console";
	border-radius: 15px;
	width: 500px;
	height: 820px; 
}

#e_TransferLabel
{
	text-decoration: underline;
	font-style: italic;
	margin-left: 9em;
	font-style: 14pt;
}

#eTransferAcceptDiv
{
	margin-top: 3em;
}

/* The Bank picture */
#theBankLogoImg
{
	margin: 0 auto;	
	width: 500px;
	height: 250px;
}

#usernameLabel
{
	margin-left: 4em;
	font-size: 14pt;
}

#usernameInput
{
	margin-top: 2em;
	margin-left: 2.5em;
	font-size: 14pt;
}

#amountLabel
{
	margin-left: 2.8em;
	font-size: 14pt;
}

#amountInput
{
	margin-top: 1em;
	margin-left: 2.5em;
	font-size: 14pt;
}

#toLabel
{
	font-size: 14pt;
	margin-top: 1em;
	margin-left: 0.5em;
}

#toAccountSelectBox
{
	margin-left: 2.5em;
}

#messageLabel
{
	margin-left: 1.7em; 
	font-size: 14pt;
}

#messageInput
{
	vertical-align: top;
	margin-left: 3em;
	font-size: 14pt;
	height: 100px;
  	width: 230px;
}

#securityQuestionLabel
{
	font-size: 14pt;
	margin-top: 1em;
	margin-left: 2em;
}

#securityQuestionInput
{
	font-size: 14pt;
	margin-top: 1em;
	margin-left: 2em;
}

#answerLabel
{
	font-size: 14pt;
	margin-left: 3.2em;
}

#answerInput
{
	font-size: 14pt;
	margin-left: 2em;
}

#acceptButton
{
	margin-top: 1.5em;
	margin-left: 190px;
	width:90px;
	height:40px;
	font-size:20px;
}
