body
{
	background-image: url('../../images/Montreal2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 75%;
	background-size: cover;
}

#resetUserPasswordDiv
{
	background-color: #77C463;
	margin: 0 auto;
	font-family:"Lucida Console";
	border-radius: 50px 15px;
	width: 500px;
	height: 675px;
}

#resetPasswordLabel
{
	text-decoration: underline;
	font-style: italic;
	margin-left: 11em;
}

#reset_password_Form
{
	margin-top: 3em;
}

#theBankLogoImg
{
	margin: 0 auto;	
	width: 500px;
	height: 250px;
}

/* Username CSS */
#usernameLabel
{
	margin-left: 5.45em;
	font-size: 14pt;
}

#usernameInput
{
	margin-top: 3em;
	margin-left: 1em;
	font-size: 14pt;
}

/* Password CSS */
#oldPasswordLabel
{
	font-size: 14pt;
	margin-left: 3em;
}

#oldPasswordInput
{
	margin-top: 1em;
	margin-left: 1em;
	font-size: 14pt;
}

#newPasswordLabel
{
	font-size: 14pt;
	margin-left: 3em;
}

#newPasswordInput
{
	margin-top: 1em;
	margin-left: 1em;
	font-size: 14pt;
}

#newPasswordAgainInput
{
	margin-top: 1em;
	margin-left: 11.3em;
	font-size: 14pt;
}

/* Save button */
#saveButton
{
	margin-top: 1.5em;
	margin-left: 180px;
	width:100px;
	height:50px;
	font-size:20px;
}