*
{
	font-family: sans-serif;
}

#userETransferReceivedTable
{
  	border-collapse: collapse;
    margin-left: 0.5em;
  	font-size: 0.9em;
  	min-width: 800px;
  	border-radius: 5px 5px 0 0;
  	overflow: hidden;
  	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#userETransferReceivedTable thead tr
{
  	background-color: #009879;
  	color: #ffffff;
  	text-align: center;
  	font-weight: bold;
}

#userETransferReceivedTable th, #userETransferReceivedTable td 
{
  	padding: 12px 15px;
    text-align: center;
}

#userETransferReceivedTable tbody tr 
{
  	border-bottom: 1px solid #dddddd;
}

#userETransferReceivedTable tbody
{
	text-align: center;
}

#userETransferReceivedTable tbody tr:nth-of-type(even) 
{
  	background-color: #f3f3f3;
}

#userETransferReceivedTable tbody tr:last-of-type 
{
  	border-bottom: 2px solid #009879;
}

input[type="text"]:disabled 
{
  background: #dddddd;
}