body
{
	background-image: url('../../images/Montreal3.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 90%;
	background-size: cover;
}

/* Login form block */
#loginDiv
{
	background-color: #DAD3D2;
	margin: 0 auto;
	font-family:"Lucida Console";
	border-radius: 15px 50px;
	width: 500px;
	height: 600px;
}

/* Login form block */
#loginForm
{
	margin-top: 3em;
}

/* The Bank Logo inside the div */
#theBankLogoImg
{	
	margin: 0 auto;	
	width: 500px;
	height: 250px;
}

/*Username CSS*/
#usernameLabel
{
	margin-left: 3em;
	font-size: 14pt;
}

#usernameInput
{
	margin-top: 3em;
	margin-left: 1em;
	font-size: 14pt;
}

/*Password CSS*/
#passwordLabel
{
	font-size: 14pt;
	margin-left: 3em;
}

#passwordInput
{
	margin-top: 1em;
	margin-left: 1em;
	font-size: 14pt;
}

/* Sign in button */
#signInButton
{	
	margin-top: 1em;
	margin-left: 180px;
	width:100px;
	height:50px;
	font-size:20px;	
	background-color: white;	
}

/* Already registered && Forgot your password */
#notAnUserP
{
	margin-top: 2em;
	margin-left: 1em;
}

#forgotPasswordP
{
	margin-left: 1em;
}