
#e_transfer_redeem_Form
{
	background-color: #77C463;
	margin: 0 auto;
	font-family: "Lucida Console";
	border-radius: 15px;
	width: 500px;
	height: 730px; 
}

#e_TransferLabel
{
	text-decoration: underline;
	font-style: italic;
	margin-left: 10em;
}


#e_TransferRedeemDiv
{
	margin-top: 3em;
}

/* The Bank picture */
#theBankLogoImg
{
	margin: 0 auto;	
	width: 500px;
	height: 250px;
}

#amountLabel
{
	margin-left: 4em;
	font-size: 14pt;
}

#amountInput
{
	margin-top: 2em;
	margin-left: 2.5em;
	font-size: 14pt;
}

#toLabel
{
	margin-left: 2.8em;
	font-size: 14pt;
}

#toAccountSelectBox
{
	margin-top: 1em;
	margin-left: 2.5em;
	font-size: 14pt;
}

#redeemButton
{
	margin-top: 1.5em;
	margin-left: 190px;
	width:90px;
	height:40px;
	font-size:20px;
}
