
#e_transfer_refuse_Form
{
	background-color: #f54266;
	margin: 0 auto;
	font-family: "Lucida Console";
	border-radius: 15px;
	width: 500px;
	height: 730px; 
}

#eTransferLabel
{
	text-decoration: underline;
	font-style: italic;
	margin-left: 10em;
}


/* Register Contact Info box/div */
#editInfoDiv
{
	margin-top: 3em;
}

/* The Bank picture */
#theBankLogoImg
{
	margin: 0 auto;	
	width: 500px;
	height: 250px;
}

#areYouSureH2
{
	text-align: center;
}

#usernameLabel
{
	margin-left: 4em;
	font-size: 14pt;
}

#usernameInput
{
	margin-top: 2em;
	margin-left: 2.5em;
	font-size: 14pt;
}

#amountLabel
{
	margin-left: 2.8em;
	font-size: 14pt;
}

#amountInput
{
	margin-top: 1em;
	margin-left: 2.5em;
	font-size: 14pt;
}

#messageLabel
{
	
	margin-left: 2.3em; 
	font-size: 14pt;
}

#messageInput
{
	vertical-align: top;
	margin-left: 2.3em;
	font-size: 14pt;
	height: 100px;
  	width: 227px;
}


#refuseButton
{
	margin-top: 1.5em;
	margin-left: 190px;
	width:90px;
	height:40px;
	font-size:20px;
}
