body
{
	background-image: url('../../images/Montreal2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 75%;
	background-size: cover;
}

#registerDiv
{
	background-color: #77C463;
	margin: 0 auto;
	font-family:"Lucida Console";
	border-radius: 50px 15px;
	width: 500px;
	height: 600px;
}

#registerForm
{
	margin-top: 3em;
}

#theBankLogoImg
{
	margin: 0 auto;	
	width: 500px;
	height: 250px;
}

/* Username CSS */
#usernameLabel
{
	margin-left: 3em;
	font-size: 14pt;
}

#usernameInput
{
	margin-top: 3em;
	margin-left: 1em;
	font-size: 14pt;
}

/* Password CSS */
#passwordLabel
{
	font-size: 14pt;
	margin-left: 3em;
}

#passwordInput
{
	margin-top: 1em;
	margin-left: 1em;
	font-size: 14pt;
}

#passwordAgainInput
{
	margin-top: 1em;
	margin-left: 9em;
	font-size: 14pt;
}

/* Sign up button */
#signUpButton
{
	margin-top: 1.5em;
	margin-left: 180px;
	width:100px;
	height:50px;
	font-size:20px;
}

#alreadyRegisteredP
{
	margin-left: 1em;
}