body
{
	background-image: url('../../images/Montreal4.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 75%;
	background-size: cover;
}

#registerInfoDiv
{
	background-color: #77C463;
	margin: 0 auto;
	font-family: "Lucida Console";
	border-radius: 15px 50px;
	width: 500px;
	height: 725px;
}

#personalInfoLabel
{
	text-decoration: underline;
	font-style: italic;
	margin-left: 8em;
}

/* Register Info box/div */
#registerInfoForm
{
	margin-top: 3em;
}

/* The Bank picture */
#theBankLogoImg
{
	margin: 0 auto;	
	width: 500px;
	height: 250px;
}

/* Firstname CSS */
#firstNameLabel
{
	margin-left: 2em;
	font-size: 14pt;
}

#firstNameInput
{
	margin-top: 3em;
	margin-left: 4em;
	font-size: 14pt;
}

/* Lastname CSS */
#lastNameLabel
{
	margin-left: 2em;
	font-size: 14pt;
}

#lastNameInput
{
	margin-top: 1em;
	margin-left: 4.6em;
	font-size: 14pt;
}

/* Street Address CSS */
#streetAddressLabel
{
	margin-left: 2em;
	font-size: 14pt;
}

#streetAddressInput
{
	margin-top: 1em;
	margin-left: 1.6em;
	font-size: 14pt;
}

/* City CSS */
#cityLabel
{
	margin-left: 2em;
	font-size: 14pt;
}

#cityInput
{
	margin-left: 7.6em;
	margin-top: 1em;
	font-size: 14pt;
}

/* Province CSS */
#provinceLabel
{
	margin-left: 2em;
	font-size: 14pt;
}

#provinceInput
{
	margin-top: 1em;
	margin-left: 5.2em;
	font-size: 14pt;
}

/* Zipcode CSS */
#zipcodeLabel
{
	margin-left: 2em;
	font-size: 14pt;
}

#zipcodeInput
{
	margin-top: 1em;
	margin-left: 5.8em;
	font-size: 14pt;
}

/* Next button */
#nextButton
{
	margin-top: 1.5em;
	margin-left: 190px;
	width:100px;
	height:50px;
	font-size:20px;
}
