/* The div that contains the Bank Logo */
#theBankPicture
{
  position:relative;
}

#theBankPicture img
{
    position: relative;
    margin: 10px 10px 10px 10px;
    padding: 12px 12px 12px 12px;
    height: 150px;
    width:  250px;
    border-radius: 8px;
    border: 3px solid #ccc;
}
/*div in the home index*/
.main {
  margin: 0px auto -100px;
  position: relative;
  background: white;
  border-radius: 0px 5px 0px 0px;
  width: 90%; max-width: 960px;
}

#myNavbar
{
    position: relative;
}


.navList
{
	font-family:"Verdana";
	font-weight:bold;
	font-size:80%;
	font-style:normal;
	color: grey;
  position: relative;
}
ul.user-sub-menu{
  position: absolute;
  list-style-type: none;
  background-color: #383838;
  padding-left:0px;
  padding-top: 5px;
  opacity:0;
  width: 90px;
  display: none;
}
ul.user-sub-menu li a{
  text-decoration: none;
  color: silver;
}
ul.user-sub-menu li{
  padding-left: 10px;
  padding-right: 10px;
  padding-top:5px;
  padding-bottom: 5px;
  text-decoration: none;
  text-align: left;
  float: right;

}
li:hover .user-sub-menu{
  display: block;
  right: -5;
  opacity:1;
} 
.user-sub-menu li a:hover{
   color: white;
}
/* Add padding to containers */
.container {
  position: relative;
  margin-bottom:  50px;
}

/* Full-width inputs */
input[type=text], input[type=password],input[type=number]{
  width: 60%;
  padding: 6px 20px;
  margin-left: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  
}

/* Set a style for all buttons */
button 
{
  color: white;
  padding: 14px 20px;
  margin-top: 20px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  width: auto;
}

/* Add a hover effect for buttons */
button:hover 
{
  opacity: 0.8;
}

/* Dropdown Button */
.dropListButton 
{
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown 
{
  position: relative;
  display: inline-block;
  margin-right: 50px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content 
{
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a 
{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;  
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover 
{
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content 
{
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropListButton 
{
  background-color: #3e8e41;
}