body
{
	background-image: url('../../images/Montreal5.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 75%;
	background-size: cover;
}

#registerContactInfoForm
{
	background-color: #77C463;
	margin: 0 auto;
	font-family: "Lucida Console";
	border-radius: 50px 15px;
	width: 500px;
	height: 550px;
}

#personalContactInfoLabel
{
	text-decoration: underline;
	font-style: italic;
	margin-left: 8em;
}

/* Register Contact Info box/div */
#editInfoDiv
{
	margin-top: 3em;
}

/* The Bank picture */
#theBankLogoImg
{
	margin: 0 auto;	
	width: 500px;
	height: 250px;
}

/* Type CSS */
#typeLabel
{
	margin-left: 4em;
	font-size: 14pt;
}

#typeInput
{
	margin-top: 3em;
	margin-left: 2.5em;
	font-size: 14pt;
}

/* Info CSS */
#infoLabel
{
	margin-left: 4em;
	font-size: 14pt;
}

#infoInput
{
	margin-top: 1em;
	margin-left: 2.5em;
	font-size: 14pt;
}

/* Save button */
#saveButton
{
	margin-top: 1.5em;
	margin-left: 190px;
	width:100px;
	height:50px;
	font-size:20px;
}
