body
{
	background-image: url('../../images/Montreal5.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 75%;
	background-size: cover;
}

#edit_user_account_status
{
	background-color: #77C463;
	margin: 0 auto;
	font-family: "Lucida Console";
	border-radius: 50px 15px;
	width: 500px;
	height: 550px;
}

#accountH2
{
	text-decoration: underline;
	font-style: italic;
	margin-left: 8em;
}

#editUserAccountStatusDiv
{
	margin-top: 3em;
}

/* The Bank picture */
#theBankLogoImg
{
	margin: 0 auto;	
	width: 500px;
	height: 250px;
}


/* Save button */
#saveButton
{
	margin-top: 1.5em;
	margin-left: 190px;
	width:100px;
	height:50px;
	font-size:20px;
}
