body
{
	background-image: url('../../images/admin_background.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 75%;
	background-size: cover;
}


#adminLevelOneDiv
{
	background-color: #ccccff;
	font-family:"Lucida Console";
	margin: 0 auto;
	display: block;
	width: 500px;
	height: 550px;
	border-radius: 15px
}

/* Admin's logo*/
#adminLogo 
{
	margin-left: 150px;
	width: 200px; 
	height: 200px;
	margin-top:5px;
}

#welcomeBackH2
{
	text-align: center;
	text-decoration: underline;
}

/* Show all the user, button */ 
#listUserButton
{
	width: 120px;
	height:50px;
	font-size:20px;
	margin-left: 5em;
}

/* Show all the admin, button */ 
#listAdminButton
{
	width: 130px;
	height:50px;
	font-size:20px;
	margin-left: 2em;
}

/* Register an admin, button */ 
#registerAdminButton
{
	width: 160px;
	height:50px;
	font-size:20px;
	margin-left: 8em;
	margin-top: 1em;
}

#logoutButton
{
	width: 130px;
	height: 50px;
	font-size:20px;
	margin-left: 9em;
	margin-top: 3em;
}