*
{
	font-family: sans-serif;
}

#userChequingRecentTransactionTable
{
  	border-collapse: collapse;
    margin: 0 auto;
  	font-size: 0.9em;
  	min-width: 600px;
  	border-radius: 5px 5px 0 0;
  	overflow: hidden;
  	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#userChequingRecentTransactionTable thead tr
{
  	background-color: #009879;
  	color: #ffffff;
  	text-align: center;
  	font-weight: bold;
}

#userChequingRecentTransactionTable th, #userChequingRecentTransactionTable td 
{
  	padding: 12px 15px;
}

#userChequingRecentTransactionTable tbody tr 
{
  	border-bottom: 1px solid #dddddd;
}

#userChequingRecentTransactionTable tbody
{
	text-align: center;
}

#userChequingRecentTransactionTable tbody tr:nth-of-type(even) 
{
  	background-color: #f3f3f3;
}

#userChequingRecentTransactionTable tbody tr:last-of-type 
{
  	border-bottom: 2px solid #009879;
}