body
{
	background-image: url('../../images/admin_background.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 75%;
	background-size: cover;
}


#adminRegisterDiv
{
	background-color: mediumaquamarine;
	font-family:"Lucida Console";
	margin: 0 auto;
	display: block;
	width: 500px;
	height: 560px;
	border-radius: 15px

}

#adminLogo /* Admin's logo*/
{
	margin-left: 150px;
	width: 200px; 
	height: 200px;
	margin-top:5px;
}

#registerAdminH2
{
	text-align: center;
	text-decoration: underline;
}

/* Username CSS */
#usernameLabel 
{
	margin-left: 6.8em;
}

#usernameInput 
{
	margin-left: 2.5em;	
}

/* Password CSS */
#passwordLabel 
{
	margin-left: 6.8em;
	margin-top: 1em;
}

#passwordInput 
{
	margin-top: 1em;
	margin-left: 2.5em;
}

#passwordAgainInput  
{
	margin-top: 1em;
	margin-left: 16.64em;
}

/* Select Box */
#privilegedLabel
{
	margin-top: 1.50em;
	margin-left: 1.77em;
}

#privilegedSelectBox
{
	margin-top: 1.75em;
	margin-left: 1.85em;
}

/* Register Button */
#registerButton
{
	margin-top: 25px;
	margin-left: 9.5em;
	width: 120px;
	height:50px;
	font-size:20px;
}

/* Back to Index */
#toGoback
{
	margin-left: 2px;
	font-size:12px;
}