#adminLevelThreeDiv
{
	background-color: #B5C4C8;
	font-family:"Lucida Console";
	margin: 0 auto;
	display: block;
	width: 500px;
	height: 450px;
	border-radius: 15px
}

/* Admin's logo*/
#adminLogo 
{
	margin-left: 150px;
	width: 200px; 
	height: 200px;
	margin-top:5px;
}

#welcomeBackH2
{
	text-align: center;
	text-decoration: underline;
}

/* Show all the user, button */ 
#listUserButton
{
	width: 120px;
	height:50px;
	font-size:20px;
	margin-left: 5em;
}

/* Show all the admin, button */ 
#listAdminButton
{
	width: 130px;
	height:50px;
	font-size:20px;
	margin-left: 2em;
}

#logoutButton
{
	width: 130px;
	height: 50px;
	font-size:20px;
	margin-left: 9em;
	margin-top: 1em;
}